<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vuex + axios + vue</title>
	<!-- 导入vue -->
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
	<script src="https://cdn.bootcss.com/vuex/3.1.1/vuex.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<div id="app">
		<h2>顾客管理</h2>
		<!-- 按钮 -->
		<div class="btns">
			<button @click="toAddHandler">添加</button>
			<button>批量删除</button>
		</div>
		<!-- 表单 -->
		<form v-show="visible" action="" @submit.prevent="submitHandler">
			姓名 <input type="text" v-model="form.realname"> 
			手机 <input type="text" v-model="form.telephone">
			<input type="submit" value="提交">
			<input type="reset" value="取消" @click="closeModal">
		</form>
		<!-- 表格 -->
		{{countCustomers}}
		<table>
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="c in customerStatusFilter()">
					<td>{{c.id}}</td>
					<td>{{c.realname}}</td>
					<td>{{c.telephone}}</td>
					<td>{{c.status}}</td>
					<td>
						<a href="" @click.prevent = "deleteHandler(c.id)">删除</a>
						<a href="" @click.prevent = "editHandler(c)">修改</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		axios.defaults.baseURL = "http://134.175.100.63:6677"
		// 状态机
		let store = new Vuex.Store({
			state:{
				visible:false,
				customers:[]
			},
			getters:{
				countCustomers(state){
					return state.customers.length;
				},
				// 需要为获取器传递参数的写法
				customerStatusFilter(state){
					return function(status){
						if(status){
							return this.customers.filter(item=>item.status===status)
						} else {
							return this.customers;
						}
					}
				}
			},
			mutations:{
				showModal(state){
					state.visible = true;
				},
				closeModal(state){
					state.visible = false;
				},
				// 需要接受一个参数，这个参数就是customers
				refreshCustomers(state,customers){
					console.log('state->',state);
					state.customers = customers;
				}
			},
			actions:{
				// async findAllCustomers({commit,dispatch,getters,state}){
				async findAllCustomers(context){
					console.log("context->",context);
					// 1. 查询所有顾客信息
					let response = await axios.get("/customer/findAll");
					// 2. 将顾客信息设置到state.customers中
					context.commit("refreshCustomers",response.data.data)
				},
				async deleteCustomerById({dispatch},id){
					// 1. 删除顾客信息
					let response = await axios.get("/customer/deleteById?id="+id);
					// 2. 刷新
					dispatch("findAllCustomers")
					// 3. 提示成功
					return response;
				},
				async saveOrUpdateCustomer({dispatch,commit},customer){
					// 1. 提交请求
					let response = await axios({
						method:"post",
						url:'/customer/saveOrUpdate',
						data:$.param(customer),
						headers:{
							"Content-Type":"application/x-www-form-urlencoded"
						}
					});
					// 2. 关闭模态
					commit("closeModal");
					// 3. 刷新页面
					dispatch("findAllCustomers");
					// 4. 提示成功 react
					return response;
				}
			}
		})

		// vue
		new Vue({
			el:"#app",
			data:{
				form:{}
			},
			store,
			created(){
				this.findAllCustomers();
			},
			computed:{
				// 映射，将vuex state中的状态映射为vue中属性
				/*
				customers:function(){
					return this.$store.state.customers;
				},
				visible:function(){
					return this.$store.state.visible;
				}
				*/
				...Vuex.mapState(["customers","visible"]),
				...Vuex.mapGetters(["countCustomers","customerStatusFilter"])
				// 普通属性

			},
			methods:{
				// 映射，将vuex action中得到动作映射为vue中的方法
				/*
				findAllCustomers(){
					return this.$store.dispatch("findAllCustomers")
				},
				deleteCustomerById(id){
					return this.$store.dispatch("deleteCustomerById",id)
				},
				showModal(){
					return this.$store.commit("showModal");
				},
				closeModal(){
					return this.$store.commit("closeModal");
				},
				*/
				...Vuex.mapActions(["findAllCustomers","deleteCustomerById","saveOrUpdateCustomer"]),
				...Vuex.mapMutations(["showModal","closeModal"]),
				// 普通方法
				toAddHandler(){
					this.form = {};
					this.showModal();
				},
				submitHandler(){
					// 1.表单验证
					// 2.提交表单
					this.saveOrUpdateCustomer(this.form)
					.then((response)=>{
						alert(response.data.message);
					})
				},
				deleteHandler(id){
					let promise = this.deleteCustomerById(id)
					promise.then((response)=>{
						alert(response.data.message);
					})
				},
				editHandler(row){
					this.form = row;
					this.showModal();
				}
			}
		})
	</script>
</body>
</html>